extends ../layout/_layout.pug

block content
    mj-section(background-color="#fafafa")
        mj-column(width="600px")
            mj-text(font-style="italic" font-size="20px" 
                font-family="Helvetica Neue" color="#626262") Registration
            mj-text(color="#525252")
                | Welcome to WWI. We are very happy that you choose to become a part of our community.
            mj-text(color="#525252")
                | As a part of the process, please verify your registration by clicking the the verify btton below.
            mj-button(ackground-color="#F45E43" href="#") Verify