
mj-section(background-color="#e7e7e7")
    mj-column
        mj-social
            mj-social-element(name="facebook")
            mj-social-element(name="instagram")
            mj-social-element(name="snapchat")


